@{
    ViewBag.Title = "Home Page";
}
<div class="img" style="

        height: 550px;
        width: 100%;
        background: red url(../flag.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
    <br><br><p style="        font-size: 65px;
        padding: 0px;
        margin-left: 139px;
        color: #000000e0;
        font-family: 'Amatic SC', cursive;"> Побывай во всех городах России</p>
</div>
<section id="2">

    <div class="container">
        <h1 style="text-align: center;">   Цель проекта </h1>
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h4 class="adjst">Объявления</h4>
                        <p>
                            Данный проект позволяет человеку зарегистрировать свое объявление, например, о том что сдают квартиру в каком либо городе России.
                            После регистрации пользователь может зайти в свой личный кабинет, посмотреть там свои личные данные, посмотреть заявки для его объявления, а также может удалить свое объявление.
                        </p>


                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h4 class="adjst">Заявки </h4>
                        <p>
                           Пользователи могут посмотерть зарегистрированные объявления, например, о сдаче квартиры и отправить заявку данному человеку о своем желании снять квартиру. Для удобства добавлен поиск объявлений по городу.
                        </p>


                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h4 class="adjst">Интересные места городов России </h4>
                        <p>
                            Пользователи могут добавить информацию о интересных местах городов России. Для того чтобы другие пользователи, приехав в какой либо город смогли посмотреть куда им стоит сходить в новом для них городе. Для удобства добален поиск объявлений по городу.
                        </p>


                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

